#Illya_Dance {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -100;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
}

body {
	font-family: Roboto;
	height: 100%;
	position: fixed;
	overflow: hidden;
}

header {
	color: #CCE5FF;
	position: fixed;
	width: 100%;
	text-align: center;
	font-size: 50px;
}
