.dark-primary-color    { background: #512da8; }
.default-primary-color { background: #673ab7; }
.light-primary-color   { background: #9575cd; }
.text-primary-color    { color: #000000; }
.accent-color          { background: #ffff00; }