header {
	font-family: 'Arial';
	background: #303F9F;
	background-position: center center;
	position: fixed;

}

navbar {
	font-family: 'Arial';
	background: #303F9F;
	background-position: center center;
	position: fixed;

}

body {
	font-family: 'Slabo+27px', serif;
	margin: 0px auto;
	background: #448AFF;
	position: center center;
	text-align: center;
	color: #FFFFFF;
}