header {
	font-family: 'Arial';
	background: #303F9F;
	background-position: center center;
	position: fixed;
	display: flex;
}

navbar {
	font-family: 'Arial';
	background: #303F9F;
	background-position: center center;
	position: fixed;
	display: flex;
}

body {
	font-family: 'Slabo+27px', serif;
	margin: 0px auto;
	background: #3F51B5;
	position: center center;
	text-align: center;
	color: #FFFFFF;
}